
/*PARA TODAS LAS PAGINAS*/
*{
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

header {
    background-color: #A791BF ;
    height: 65px;
    /*display: flex;
    align-items: center;
    justify-content: space-evenly;*/
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav h1 {
    font-size: 40px;
    margin-bottom: 0;
    margin-left: 5px;
}
header nav div ul {
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
header nav div ul li {
    margin: 0 20px;
}
a{
    text-decoration-line: none;
    color: #000000;
}

body {
    background-color: #000000;
}


@media (max-width: 1440px) {
    header nav h1 {
        font-size: 35px;
    }
    header nav div ul {
        font-size: 18px;
    }
}
@media (max-width: 900px) {
    header nav h1 {
        font-size: 30px;
    }
    header nav div ul {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    header nav h1 {
        font-size: 25px;
    }
    header nav div ul {
        font-size: 13px;
    }
}
@media (max-width: 700px) {
    header {
        height: 60px;
    }
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 530px) {
    header nav h1 {
        font-size: 22px;
    }
    header nav div ul {
        font-size: 10px;
    }
}
@media (max-width: 470px) {
    header {
        height: 55px;
    }
    header nav h1 {
        font-size: 20px;
    }
    header nav div ul {
        font-size: 8px;
    }
    .nav-the-eras-tour {
        text-align: center;
        margin: 0;
    }
}
@media (max-width: 345px) {
    header {
        height: 55px;
    }
    header nav h1 {
        font-size: 19px;
    }
    header nav div ul {
        font-size: 7px;
    }
}




/*INDEX*/

/*IMG PORTADA*/
.portada .img-index-portada {
    width: 100%;
}
/*IMGAGENES*/ 
.img-index {
    width: 16vw;
    height: 10vw;
}
/*PROPIEDADES DECORATIVAS*/
.portada .parrafo-principal-index {
    font-size: 28px;
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    margin: 10px;
}
.contenedor-index .article-index-parrafo .primer-parrafo-index 
, .segundo-parrafo-index
, .tercer-parrafo-index {
    font-size: 24px;
    font-weight: lighter;
    color: #ffffff;
    border: solid 3px #A791BF;
    width: 38vw;
    height: 10vw;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}
.contenedor-index {
    margin: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*.div-index-img {
    margin-left: 10px;
    margin-right: 10px;
}
.prueba-index {
    display: flex;
    justify-content: space-around;
}*/

/*MEDIA QUERY*/
@media (max-width: 1900px) {
    .portada .parrafo-principal-index {
        font-size: 24px;
    }
    .contenedor-index .article-index-parrafo 
    .primer-parrafo-index 
    , .segundo-parrafo-index 
    , .tercer-parrafo-index {
        font-size: 20px;
    }
}
@media (max-width: 1500px) {
    .portada .parrafo-principal-index {
        font-size: 22px;
    }
    .contenedor-index .article-index-parrafo 
    .primer-parrafo-index 
    , .segundo-parrafo-index 
    , .tercer-parrafo-index {
        font-size: 18px;
    }
}
@media (max-width: 1340px) {
    .portada .parrafo-principal-index {
        font-size: 20px;
    }
    .contenedor-index .article-index-parrafo 
    .primer-parrafo-index 
    , .segundo-parrafo-index 
    , .tercer-parrafo-index {
        font-size: 16px;
    }
}
@media (max-width: 1200px) {
    .portada .parrafo-principal-index {
        font-size: 20px;
    }
    .contenedor-index .article-index-parrafo 
    .primer-parrafo-index 
    , .segundo-parrafo-index 
    , .tercer-parrafo-index {
        font-size: 16px; 
    }

}









/*THE ERAS TOUR*/

/*IMG PORTADA*/
.portada-theerastour .img-portada-theerastour {
    width: 100%;
}
.portada-theerastour p {
    font-size: 24px;
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    margin: 0 1vw 1vw 1vw;
}    
.portada-theerastour {
    display: inline-block;
    text-align: center;
}

/*FECHAS*/
.section-theerastour {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.section-theerastour .div-theerastour ul li {
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
}

.div-titulo-theerastour h3 {
    color: #ffffff;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-top: 3px solid #A791BF;
    border-bottom: 3px solid #A791BF;
}

@media (max-width: 1024px) {
    .portada-theerastour p {
        font-size: 22px;
    }
    .div-titulo-theerastour h3 {
        font-size: 22px;
    }
    .section-theerastour .div-theerastour ul li {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .portada-theerastour p {
        font-size: 20px;
    }
    .div-titulo-theerastour h3 {
        font-size: 20px;
    }
    .section-theerastour .div-theerastour ul li {
        font-size: 16px;
    }
}
@media (max-width: 625px) {
    .portada-theerastour p {
        font-size: 16px;
    }
    .div-titulo-theerastour h3 {
        font-size: 16px;
    }
    .section-theerastour .div-theerastour ul li {
        font-size: 14px;
    }
}
@media (max-width: 540px) {
    .portada-theerastour p {
        font-size: 16px;
    }
    .div-titulo-theerastour h3 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .section-theerastour .div-theerastour ul li {
        font-size: 14px;
    }
    .section-theerastour {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 425px) {
    .portada-theerastour p {
        font-size: 14px;
    }
    .div-titulo-theerastour h3 {
        font-size: 14px;
    }
    .section-theerastour .div-theerastour ul li {
        font-size: 12px;
    }
}






/*DISCOGRAFIA*/

/*IMG DISCOGRAFIA COVER*/ 
.img-discografia {
    width: 10vw;
    height: 10vw;
}

/*TITULO Y CANCIONES*/
.canciones-discografia {
    list-style: none;
    font-weight: lighter;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.album-titulo-discografia {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 0;
}



/*DEBUT ALBUM*/
.section-discografia-debut {
    background-color: #A5E4E8;
    display: flex;
    align-items: center;
    text-align: center;
}

/*SPEAK NOW*/
.section-discografia-speaknow {
    background-color: #B7A4BF;
    display: flex;
    align-items: center;
    text-align: center;
}

/*1989*/
.section-discografia-1989 {
    background-color: #D6ECF1;
    display: flex;
    align-items: center;
    text-align: center;
}

/*REPUTATION*/
.section-discografia-reputation {
    background-color: #587060;
    display: flex;
    align-items: center;
    text-align: center;
}

/*LOVER*/
.section-discografia-lover {
    background-color: #FFCDD8;
    display: flex;
    align-items: center;
    text-align: center;
}

/*FOLKLORE*/
.section-discografia-folklore {
    background-color: #DBDBDB;
    display: flex;
    align-items: center;
    text-align: center;
}

/*EVERMORE*/
.section-discografia-evermore {
    background-color: #A57156;
    display: flex;
    align-items: center;
    text-align: center;
}

/*FEARLESS*/
.section-discografia-fearless {
    background-color: #D3BB99;
    display: flex;
    align-items: center;
    text-align: center;
}

/*RED*/
.section-discografia-red {
    background-color: #B44949;
    display: flex;
    align-items: center;
    text-align: center;
}

/*MIDNIGHTS*/
.section-discografia-midnights {
    background-color: #434662;
    display: flex;
    align-items: center;
    text-align: center;
}



/*MEDIA QUERY*/

@media (max-width: 1440px) {
    .canciones-discografia {
        font-size: 20px;
    }
    .album-titulo-discografia {
        font-size: 25px;
    }
}
@media (max-width: 900px) {
    .canciones-discografia {
        font-size: 15px;
    }
    .album-titulo-discografia {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .canciones-discografia {
        font-size: 11px;
        width: 220px;
    }
    .album-titulo-discografia {
        font-size: 17px;
    }
    .img-discografia {
        width: 12vw;
        height: 12vw;
    }
    .section-discografia-debut , .section-discografia-speaknow , .section-discografia-1989 , .section-discografia-lover , .section-discografia-reputation , .section-discografia-folklore , .section-discografia-evermore , .section-discografia-fearless , .section-discografia-midnights
    {
        height: 140px;
    }
    .section-discografia-red {
        height: 165px;
    }
}
@media (max-width: 570px) {
    .canciones-discografia {
        font-size: 9px;
        width: 190px;
    }
    .album-titulo-discografia {
        font-size: 12px;
    }
    .img-discografia {
        width: 14vw;
        height: 14vw;
    }
    .section-discografia-debut , .section-discografia-speaknow , .section-discografia-1989 , .section-discografia-lover , .section-discografia-reputation , .section-discografia-folklore , .section-discografia-evermore , .section-discografia-fearless , .section-discografia-midnights
    {
        height: 115px;
    }
    .section-discografia-red {
        height: 140px;
    }
}
@media (max-width: 500px) {
    .canciones-discografia {
        font-size: 8px;
        width: 140px;
    }
    .album-titulo-discografia {
        font-size: 12px;
    }
    .section-discografia-red {
        height: 135px;
    }
}
@media (max-width: 400px) {
    .canciones-discografia {
        font-size: 7px;
        width: 100px;
    }
    .album-titulo-discografia {
        font-size: 9px;
    }
    .img-discografia {
        width: 15vw;
        height: 15vw;
    }
    .section-discografia-debut , .section-discografia-speaknow , .section-discografia-1989 , .section-discografia-lover , .section-discografia-reputation , .section-discografia-folklore , .section-discografia-evermore , .section-discografia-fearless , .section-discografia-midnights
    {
        height: 105px;
    }
    .section-discografia-red {
        height: 120px;
    }
}




/*GALERIA*/

/*IMG PORTADA*/
.portada-galeria .img-portada-galeria {
    width: 100%;
}

.article-galeria .video-youtube {
    width: 28vw;
    height: 15vw;
}

/*IMG GALERIA*/
.section-galeria .article-galeria .img-galeria {
    width: 27vw;
    height: 14vw;
}
.section-galeria-youtube {
    display: flex;
    justify-content: space-around;
    margin: 7vw 0;
}
.section-galeria {
    display: flex;
    justify-content: space-evenly;
    margin: 5vw 0;
}

@media (max-width: 1024px) {
    .section-galeria .article-galeria .img-galeria {
        width: 28vw;
        height: 14.5vw;
    }
    .article-galeria .video-youtube {
        width: 29vw;
        height: 17vw;
    }
}
@media (max-width: 700px) {
    .section-galeria .article-galeria .img-galeria {
        width: 29vw;
        height: 15.5vw;
    }
    .article-galeria .video-youtube {
        width: 30vw;
        height: 18vw;
    }
}
@media (max-width: 500px) {
    .section-galeria .article-galeria .img-galeria {
        width: 32vw;
        height: 17.5vw;
    }
    .article-galeria .video-youtube {
        width: 34vw;
        height: 22vw;
    }
}
@media (max-width: 380px) {
    .section-galeria .article-galeria .img-galeria {
        width: 32.8vw;
        height: 18vw;
    }
    .article-galeria .video-youtube {
        width: 34vw;
        height: 23vw;
    }
}




/*CONTACTO*/
.main-contacto {
    display: flex;
    justify-content: center;
}

.section-contacto-formulario {
    background-color: #756685;
    color: #ffffff;
    width: 80vw;
    height: 33vw;
    margin: 95px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-contacto-formulario .formulario {
    font-weight: lighter;
}
form div label {
    font-size: 15px;
}
.section-contacto-formulario h2 {
    font-size: 25px;
}




/*PIE DE PAGINA*/
footer {
    background-color: #A791BF ;
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div ul {
    margin: 0;
    padding: 0;
}
footer div ul li {
    width: 2vw;
    height: 2vw;
    display: inline-block;
}

footer div p {
    margin: 0;
}

@media (max-width: 1300px) {
    footer div ul li {
        width: 2.5vw;
        height: 2.5vw;
    }
}

@media (max-width: 1024px) {
    footer div ul li {
        width: 3vw;
        height: 3vw;
    }
}

@media (max-width: 900px) {
    footer div p {
        font-size: 15px;
    }
    footer {
        height: 60px;
    }
    footer div ul li {
        width: 3.5vw;
        height: 3.5vw;
    }
}

@media (max-width: 770px) {
    footer div p {
        font-size: 13px;
    }
    footer {
        height: 50px;
    }
}

@media (max-width: 570px) {
    footer div p {
        font-size: 11px;
    }
    footer {
        height: 40px;
    }
    footer div ul li {
        width: 4vw;
        height: 4vw;
    }
}

@media (max-width: 490px) {
    footer div p {
        font-size: 9px;
    }
    footer {
        height: 35px;
    }
    footer div ul li {
        width: 4.7vw;
        height: 4.7vw;
    }
}

