/*---------------VARIABLES---------------*/ /*---------------MIXINS---------------*/ /*---------------GENERAL---------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  user-select: none;
}

body {
  background-color: #000000;
}

/*---------------HEADER---------------*/
header {
  background-color: #A791BF;
  height: 65px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
header nav h1 {
  font-size: 40px;
  margin-bottom: 0;
  margin-left: 5px;
}
header nav div ul {
  list-style: none;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
header nav div ul li {
  margin: 0 20px;
  transition: 0.3s;
}
header nav div ul li:hover {
  color: #522e78;
}

/*---------------INDEX---------------*/
/*IMG PORTADA*/
.portada .img-index-portada {
  width: 100%;
}
.portada .parrafo-principal-index {
  font-size: 28px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

/*IMGAGENES*/
.img-index {
  width: 16vw;
  height: 10vw;
}

/*SECCIONES---PARRAFOS E IMAGENES*/
.contenedor-index {
  margin: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor-index .article-index-parrafo .primer-parrafo-index,
.contenedor-index .segundo-parrafo-index,
.contenedor-index .tercer-parrafo-index {
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  border: 3px solid #A791BF;
  width: 38vw;
  height: 10vw;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.contenedor-index .div-index-img .img-index-izquierda {
  margin-right: 15px;
}
.contenedor-index .div-index-img .img-index-derecha {
  margin-left: 15px;
}

/*---------------THE ERAS TOUR---------------*/
/*PORTADA*/
.portada-theerastour {
  display: inline-block;
  text-align: center;
}
.portada-theerastour .img-portada-theerastour {
  width: 100%;
}
.portada-theerastour p {
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  margin: 1vw;
}

/*FECHAS*/
.section-theerastour {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.section-theerastour .div-theerastour ul {
  padding: 0;
}
.section-theerastour .div-theerastour ul li {
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
}

.div-titulo-theerastour h2 {
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-top: 3px solid #A791BF;
  border-bottom: 3px solid #A791BF;
}

/*---------------DISCOGRAFIA---------------*/
/*TITULO, PORTADA ALBUM Y CANCIONES*/
.img-discografia {
  width: 10vw;
  height: 10vw;
  transition: 0.5s;
}
.img-discografia:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.album-titulo-discografia {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
}

.canciones-discografia {
  list-style: none;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

/*TODAS LAS SECCIONES DE LOS ALBUMES*/
main .section-discografia-debut {
  background-image: radial-gradient(ellipse, #A5E4E8, #82bd97);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-speaknow {
  background-image: radial-gradient(ellipse, #B7A4BF, #7f6689);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-1989 {
  background-image: radial-gradient(ellipse, #D6ECF1, #8dc5d1);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-reputation {
  background-image: radial-gradient(ellipse, #587060, #293c2f);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-lover {
  background-image: radial-gradient(ellipse, #FFCDD8, #b48f97);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-folklore {
  background-image: radial-gradient(ellipse, #DBDBDB, #979797);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-evermore {
  background-image: radial-gradient(ellipse, #A57156, #735241);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-fearless {
  background-image: radial-gradient(ellipse, #D3BB99, #a18660);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-red {
  background-image: radial-gradient(ellipse, #B44949, #662b2b);
  display: flex;
  align-items: center;
  text-align: center;
}
main .section-discografia-midnights {
  background-image: radial-gradient(ellipse, #434662, #272a45);
  display: flex;
  align-items: center;
  text-align: center;
}

/*---------------GALERIA---------------*/
/*IMG PORTADA*/
.portada-galeria .img-portada-galeria {
  width: 100%;
}

/*YOUTUBE*/
.section-galeria-youtube {
  display: flex;
  justify-content: space-around;
  margin: 7vw 0;
}
.section-galeria-youtube article .video-youtube {
  width: 30vw;
  height: 17vw;
}

/*IMG GALERIA*/
.section-galeria {
  display: flex;
  justify-content: space-evenly;
  margin: 5vw 0;
}
.section-galeria article .img-galeria {
  width: 27vw;
  height: 14vw;
}

/*---------------CONTACTO---------------*/
.main-contacto {
  display: flex;
  justify-content: center;
}
.main-contacto .section-contacto-formulario {
  background-image: radial-gradient(ellipse, #756685, #3e2e4f);
  color: #ffffff;
  width: 80vw;
  height: 33vw;
  margin: 95px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-contacto .section-contacto-formulario h2 {
  font-size: 25px;
  text-align: center;
}
.main-contacto .section-contacto-formulario .formulario {
  font-weight: lighter;
}
.main-contacto .section-contacto-formulario .formulario div label {
  font-size: 15px;
}
.main-contacto .section-contacto-formulario .formulario div .boton-enviar {
  margin-top: 8px;
  background-color: #f1e6fb;
}

/*---------------PIE DE PAGINA---------------*/
footer {
  background-color: #A791BF;
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
footer .footer-contenedor-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
footer .footer-contenedor-p p {
  margin: 0;
}
footer .footer-contenedor-p .footer-copyright {
  opacity: 0.7;
}
footer .footer_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer_contenedor .contenedor-iconos ul {
  margin: 10px 0;
  padding: 0;
}
footer .footer_contenedor .contenedor-iconos ul li {
  width: 2vw;
  height: 2vw;
  display: inline-block;
}
footer .footer_contenedor .contenedor-nav ul {
  list-style: none;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
footer .footer_contenedor .contenedor-nav ul li {
  margin: 0 20px;
  transition: 0.2s;
}
footer .footer_contenedor .contenedor-nav ul li:hover {
  color: #434343;
}

/*---------------MEDIA QUERY---------------*/
@media (max-width: 1900px) {
  /*index*/
  .portada .parrafo-principal-index {
    font-size: 24px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    font-size: 20px;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    font-size: 20px;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    font-size: 20px;
  }
}
@media (max-width: 1500px) {
  /*index*/
  .portada .parrafo-principal-index {
    font-size: 22px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    font-size: 18px;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    font-size: 18px;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  /*header*/
  header nav h1 {
    font-size: 35px;
  }
  header nav div ul {
    font-size: 18px;
  }
  /*discografia*/
  .canciones-discografia {
    font-size: 20px;
  }
  .album-titulo-discografia {
    font-size: 25px;
  }
}
@media (max-width: 1340px) {
  /*index*/
  .portada .parrafo-principal-index {
    font-size: 20px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    font-size: 16px;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    font-size: 16px;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    font-size: 16px;
  }
}
@media (max-width: 1300px) {
  /*footer*/
  footer .footer_contenedor .contenedor-iconos ul li {
    width: 3vw;
    height: 3vw;
  }
}
@media (max-width: 1200px) {
  /*index*/
  .portada .parrafo-principal-index {
    font-size: 19px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    width: 42vw;
    height: 14vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    width: 42vw;
    height: 14vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    width: 42vw;
    height: 14vw;
  }
  .img-index {
    width: 20vw;
    height: 14vw;
  }
  /*contacto*/
  .main-contacto .section-contacto-formulario {
    margin: 70px 0;
    width: 85vw;
    height: 40vw;
  }
  .main-contacto .section-contacto-formulario .formulario div {
    padding: 0 40px;
  }
}
@media (max-width: 1024px) {
  /*index*/
  .primer-seccion, .tercer-seccion {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .segunda-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    width: 70vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    width: 70vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    width: 70vw;
  }
  .img-index-izquierda {
    margin-right: 20px;
  }
  .img-index-derecha {
    margin-left: 20px;
  }
  /*the eras tour*/
  .portada-theerastour p {
    font-size: 22px;
  }
  .div-titulo-theerastour h2 {
    font-size: 22px;
  }
  .section-theerastour .div-theerastour ul li {
    font-size: 18px;
  }
  /*galeria*/
  .section-galeria .article-galeria .img-galeria {
    width: 34vw;
    height: 18vw;
  }
  .section-galeria-youtube article .video-youtube {
    width: 36vw;
    height: 22vw;
  }
  /*footer*/
  footer .footer_contenedor .contenedor-iconos ul li {
    width: 4vw;
    height: 4vw;
  }
}
@media (max-width: 900px) {
  /*header*/
  header {
    height: fit-content;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav div ul {
    margin-top: 8px;
  }
  /*discografia*/
  .img-discografia {
    height: 12vw;
    width: 12vw;
  }
  /*footer*/
  footer .footer-contenedor-p p {
    font-size: 18px;
  }
  footer .footer_contenedor .contenedor-iconos ul li {
    width: 5vw;
    height: 5vw;
  }
}
@media (max-width: 808px) {
  /*index*/
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    height: 17vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    height: 17vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    height: 17vw;
  }
  .img-index {
    width: 25vw;
    height: 17vw;
  }
  /*discografia*/
  .section-discografia-debut, .section-discografia-speaknow, .section-discografia-1989, .section-discografia-lover, .section-discografia-reputation, .section-discografia-folklore, .section-discografia-evermore, .section-discografia-fearless, .section-discografia-red, .section-discografia-midnights {
    display: flex;
    flex-direction: column;
  }
  .titulo-album {
    margin: 15px 0;
  }
  /*footer*/
  footer .footer_contenedor .contenedor-nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 768px) {
  /*header*/
  header nav h1 {
    font-size: 30px;
  }
  header nav div ul {
    font-size: 16px;
  }
  /*the eras tour*/
  .portada-theerastour p {
    font-size: 20px;
  }
  .div-titulo-theerastour h2 {
    font-size: 20px;
  }
  .section-theerastour .div-theerastour ul li {
    font-size: 16px;
  }
  /*discografia*/
  .img-discografia {
    width: 15vw;
    height: 15vw;
  }
}
@media (max-width: 700px) {
  /*index*/
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    width: 80vw;
    height: 20vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    width: 80vw;
    height: 20vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    width: 80vw;
    height: 20vw;
  }
  .img-index {
    width: 30vw;
    height: 20vw;
  }
  /*galeria*/
  .section-galeria .article-galeria .img-galeria {
    width: 34vw;
    height: 18vw;
  }
  .section-galeria-youtube article .video-youtube {
    width: 36vw;
    height: 23vw;
  }
  /*contacto*/
  .main-contacto .section-contacto-formulario {
    height: 55vw;
  }
}
@media (max-width: 625px) {
  /*index*/
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    width: 85vw;
    height: 25vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    width: 85vw;
    height: 25vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    width: 85vw;
    height: 25vw;
  }
  .img-index {
    width: 37vw;
    height: 25vw;
  }
  /*the eras tour*/
  .portada-theerastour p {
    font-size: 16px;
  }
  .div-titulo-theerastour h2 {
    font-size: 16px;
  }
  .section-theerastour .div-theerastour ul li {
    font-size: 14px;
  }
}
@media (max-width: 570px) {
  /*header*/
  header nav h1 {
    font-size: 25px;
  }
  header nav div ul {
    font-size: 13px;
  }
  /*discografia*/
  .img-discografia {
    width: 17vw;
    height: 17vw;
  }
  /*contacto*/
  .main-contacto .section-contacto-formulario {
    height: 80vw;
  }
  /*footer*/
  footer {
    padding: 5px;
  }
  footer .footer-contenedor-p p {
    font-size: 15px;
  }
  footer .footer_contenedor .contenedor-iconos ul li {
    width: 6vw;
    height: 6vw;
  }
  footer .footer_contenedor .contenedor-nav {
    font-size: 18px;
  }
}
@media (max-width: 540px) {
  /*the eras tour*/
  .portada-theerastour p {
    font-size: 16px;
  }
  .div-titulo-theerastour h2 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .section-theerastour .div-theerastour ul li {
    font-size: 14px;
  }
  .section-theerastour {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 530px) {
  /*index*/
  .portada .parrafo-principal-index {
    font-size: 17px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    font-size: 14px;
    height: 30vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    font-size: 14px;
    height: 30vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    font-size: 14px;
    height: 30vw;
  }
}
@media (max-width: 500px) {
  /*header*/
  header nav div {
    width: 100%;
  }
  header nav div ul {
    flex-direction: column;
    align-items: center;
  }
  header nav div ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #7e6d90;
  }
  /*discografia*/
  .canciones-discografia {
    font-size: 17px;
  }
  .album-titulo-discografia {
    font-size: 22px;
  }
  .img-discografia {
    height: 22vw;
    width: 22vw;
  }
  /*galeria*/
  .section-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .section-galeria .article-galeria .img-galeria {
    width: 70vw;
    height: 35vw;
    margin: 10px 0;
  }
  .section-galeria-youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-galeria-youtube article .video-youtube {
    width: 75vw;
    height: 40vw;
  }
}
@media (max-width: 470px) {
  /*contacto*/
  .main-contacto .section-contacto-formulario {
    height: 110vw;
  }
  .main-contacto .section-contacto-formulario h2 {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  /*index*/
  .portada .parrafo-principal-index {
    font-size: 16px;
  }
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    width: 85vw;
    height: 38vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    width: 85vw;
    height: 38vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    width: 85vw;
    height: 38vw;
  }
  .contenedor-index .div-index-img {
    flex-direction: column;
  }
  .contenedor-index .div-index-img .img-index-izquierda {
    margin-right: 0;
  }
  .contenedor-index .div-index-img .img-index-derecha {
    margin-left: 0;
    margin-top: 10px;
  }
  .contenedor-index .div-index-img .img-index {
    width: 85vw;
    height: 52vw;
  }
  /*footer*/
  footer .footer_contenedor .contenedor-iconos ul li {
    width: 7vw;
    height: 7vw;
  }
}
@media (max-width: 400px) {
  /*dicografia*/
  .img-discografia {
    width: 30vw;
    height: 30vw;
  }
  /*contacto*/
  .main-contacto .section-contacto-formulario {
    height: 120vw;
  }
}
@media (max-width: 380px) {
  /*index*/
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    height: 43vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    height: 43vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    height: 47vw;
  }
  /*footer*/
  footer .footer-contenedor-p p {
    font-size: 15px;
  }
  footer .footer_contenedor .contenedor-iconos ul li {
    width: 8vw;
    height: 8vw;
  }
}
@media (max-width: 345px) {
  /*index*/
  .contenedor-index .article-index-parrafo .primer-parrafo-index {
    height: 46vw;
  }
  .contenedor-index .article-index-parrafo .segundo-parrafo-index {
    height: 46vw;
  }
  .contenedor-index .article-index-parrafo .tercer-parrafo-index {
    height: 54vw;
  }
  .primer-seccion {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
