/*---------------PIE DE PAGINA---------------*/
footer {
    background-color: #A791BF ;
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    div p {
        margin: 0;
    }
    div ul {
        margin: 0;
        padding: 0;
        li {
            width: 2vw;
            height: 2vw;
            display: inline-block;
        }
    }
}