/*---------------HEADER---------------*/
header {
    background-color: #A791BF ;
    height: 65px;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        h1 {
            font-size: 40px;
            margin-bottom: 0;
            margin-left: 5px;
        }
        div ul {
            list-style: none;
            font-size: 22px;
            font-weight: bold;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            li {
                margin: 0 20px;
                transition: .3s;
                &:hover {
                    color: #522e78;
                }
                a{
                    text-decoration-line: none;
                    color: #000000;
                }
            }
        }
    }
}