/*---------------PIE DE PAGINA---------------*/
footer {
    background-color: $color-lila_principal;
    color: $color-negro;
    font-size: 20px;
    font-weight: lighter;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    .footer-contenedor-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        p {
            margin: 0;
        }  
        .footer-copyright {
            opacity: 0.7;
        }
    }
    .footer_contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenedor-iconos {
            ul {
                margin: 10px 0;
                padding: 0;
                li {
                    width: 2vw;
                    height: 2vw;
                    display: inline-block;
                }
            }
        }
        .contenedor-nav {
            ul {
                list-style: none;
                font-weight: 400;
                display: flex;
                flex-direction: row;
                margin-top: 5px;
                li {
                    margin: 0 20px;
                    transition: .2s;
                    &:hover {
                        color: #434343;
                    }
                }
            }
        }
    }
}