/*---------------GENERAL---------------*/
*{
    @include margin0-padding0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    user-select: none;
}
body {
    background-color: $color-negro;
}